
/*         .logo{
        position : fixed;
         left : 10px; 
         top : 10px; 
        } */
        html{
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        /* background: grey !important; */
        }

        .omoplate{
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        background-image: url("../../assets/Fond1.png");
        background-size: cover;
        background-repeat: no-repeat;
        height: 50vw;
        mask-image: 50%;  }

        .container{ 
            padding-top: 12%;
            filter : brightness(100%);
        }
        
        
        .form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
            border: none;
            outline: none;
            box-shadow: none;
        }