<!-- app-form-home></app-form-home> -->
    
    <div class="omoplate">
<!--     <a href="Home"> 
      <img src="..\assets\Logo1.png" >  
      </a> -->
    <div class="container">
      <div class="row justify-content-center">
                            <div class="col-12 col-md-10 col-lg-8">
                                <form class="card card-sm">
                                    <div class="card-body row no-gutters align-items-center">
                                        <div class="col-auto">
                                            <i class="fas fa-search h4 text-body"></i>
                                        </div>
                                        <!--end of col-->
                                        <div class="col">
                                            <input id="search" name="search" class="form-control form-control-lg form-control-borderless" [(ngModel)]="search" type="search" placeholder="Recherche par ville: Où allez-vous ?">
                                            {{search}}
                                        </div>
                                        <!--end of col-->
                                        <div class="col-auto">
                                            <button class="btn btn-lg btn-dark" routerLink="search">Recherche</button>
                                            
                                        </div>
                                        <!--end of col-->
                                    </div>
                                </form>
                            </div>
                            <!--end of col-->
                        </div>
                        <!--end of col-->
                        <div class="col">
                            <input class="form-control form-control-lg form-control-borderless" name="search" [(ngModel)]="search" type="text" placeholder="Recherche d'évènement par ville, Ex : Paris">
                            
                        </div>
                        <!--end of col-->
                        <div class="col-auto">
                            <button class="btn btn-lg btn-dark" routerLink="/Events/{{search}}">Recherche</button>
                            
                        </div>
                        <!--end of col-->
                    </div>
                </form>
            </div>
            <!--end of col-->
        </div>
    </div> 
</div>